*{
	margin: 0px;
	padding: 0px;
}

body{
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	overflow: hidden;
}

.main-con{
	width: 80%;
	height: 100vh;
}

.button-ctr{
	width: 20vw;
	height: 100px;
	background-color: blue;
}

#controller{
	width: 20%;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
